{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrar Mascota</title>
    <link rel="icon" type="image/x-icon" href="{% static 'media/huella.ico' %}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center">¿Estás seguro de que deseas borrar {{ mascota.nombre_mascota }}?</h2>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-block">Borrar</button>
            <a href="{% url 'detalle_mascota' mascota.id %}" class="btn btn-secondary btn-block">Cancelar</a>
        </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

