<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación de Adopción</title>
</head>
<body>
    <div style="text-align: center; margin-top: 50px;">
        <h2>Tu solicitud de adopción ha sido enviada</h2>
        <p>Espera a que el dueño se contacte contigo.</p>
        <a href="{% url 'inicio' %}" style="text-decoration: none; padding: 10px 20px; background-color: #007bff; color: #fff; border-radius: 5px;">Volver a inicio</a>
    </div>
</body>
</html>
