{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notificaciones</title>
    <link rel="icon" type="image/x-icon" href="{% static 'media/huella.ico' %}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center">Notificaciones</h2>
        <div class="list-group">
            {% for notificacion in notificaciones %}
                <div class="list-group-item list-group-item-action {% if not notificacion.leido %}list-group-item-info{% endif %}">
                    {{ notificacion.mensaje }}
                    <small class="text-muted float-right">{{ notificacion.fecha_creacion }}</small>
                    <br>
                    <!-- Enlace al detalle del formulario -->
                    <a href="{% url 'detalle_solicitud_adopcion' adopcion_id=notificacion.adopcion.id %}" class="btn btn-primary btn-sm mt-2">Ver formulario</a>

                </div>
            {% empty %}
                <p class="text-center">No tienes notificaciones.</p>
            {% endfor %}
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
